*{
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-family:Helvetica;
}
header{
    height: 128px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
a{
    text-decoration: none;
    color: #354463;
}
.logo{
    width:160px;
    height: 63px;
    font-size: 1.375rem;
    font-weight: bold;
}
.container1{
    display: flex;
}
.container1 nav{
    margin-left: 150px;
}
.container1 nav ul{
    display: flex;
}
.container1 nav ul li{
    list-style: none;
    padding:20px 50px 0 0;
}
.btn{
    width: 160px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border: none;
    border-radius:100px;
    font-size: 1.125rem;
    color: #354463;
    text-decoration: none;
    background-color: #C1F7D5;
}

/* section-1 */
.background1{
    background-image:url('/assets/assets/about-us/annie-spratt-427339-unsplash.png');
    height:400px ;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-position: 100% 100%;
    background-size: cover;
    background-repeat: no-repeat;
}
.font{
    font-family: 'Flood Std';
    font-size: 4.5rem;
    color: white;
}
.flood{
    width:296px;
    height:224px;
}
.shade{
    align-content:center;
    text-align: center;
    width: 160px;
    height: 40px;
    font-size:0.875rem ;
    background-color: #354463;
    color: white;
}
.background1 .container2 .issue{
    position: relative;
    left:64px;
    top:21px
}
.container2{
    margin-top:128px ;
}
.white-back{
    background-color: white;
}
.background1 .container2 .text{
    width: 416px;
    height: 213px;
    font-size:1.75rem;
    padding:65px 64px 58px 64px;
    color: #354463;
    font-weight: bold;  
}
/* section-2 */
.background2{
    background-color: #354463;
    height: 1056px;
}
.container3{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.background2 .container3 .container3-content img{
    width:53.85px;
    height:56px;
    margin-bottom: 10px;
}
.container3 .what{
    font-size: 0.875rem;
    width: 160px;
    height: 40px;
    text-align: center;
    margin:128px 0 20px 10%;
    align-self: start;
}
.container3 .what p{
    margin-top: 11px;

}
.container3 #strive{
    width: 80%;
    height: 165px;
    font-size: 2.75rem;
    color: white;
    font-weight: bold;
}

.background2 .container3 .container3-content{
    margin:128px 0 0 3%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    color: white;
    column-gap: 10px;
    row-gap:10% ;
}
.background2 .container3 .container3-content h2{
    font-size: 1.75rem;
    margin-bottom: 10px;
}
/* section-3 */
.background3{
    height: 1264px;  
}
.background3 .team{
    width:160px;
    margin:128px 0 32px 0;
    position: relative;
    left:10%;
}
.background3 .statement{
    display: flex;
    justify-content: space-between;
    margin:0 10% 0 10%;
}

.background3 .statement #meet{
    width: 480px;
    font-size: 2.75rem;
    margin-bottom: 50px;
}
.background3 .statement p{
    width: 444px;
    font-size: 1.25rem;
}
.container4{
    display: grid;
    grid-template-columns:repeat(3,1fr) ;
    justify-items: center;
    align-items: center;
    row-gap: 10%;
}
.container4 img{
    width: 320px;
    height: 320px;
    
}
.container4 .person{
    font-weight: lighter;
    width: 90%;
    position: relative;
    top: -30px;
    left: 20px;
    
}
/* section-4 */
.background4{
    background-image:url('/assets/assets/about-us/Impact Background.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    background-color: #354463;
    height: 670px;
}
#impact{
    padding:128px 0 81px 0;
    display:flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}
.impact-content{
    width: 160px;
    height: 29px;
    margin-bottom: 48px;
    padding-top:11px ;
}
.impact-content p{
    text-align: center;
    font-size: 0.875rem;
    align-self: center;
}
#invest{
    font-size: 2.75rem;
    font-weight: bold;
    color: white;
    width:742px;
}
.container5{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-items: center;
    font-size: 1.75rem;
    color: white;
    text-align: center;
}
.container5 p{
    width:244px
}
/* section-5 */
.background5{
    background-color: #354463;
    height: 1302px;
}
.container6 .content-take{
    display: flex;
    justify-content: space-around;
}
.container6 .take{
    width:964px;
    padding: 128px 0 100px 0;  

}
#slider #scroll-items .year{
    width: 160px;
    padding: 11px 0px 11px 0px;
    font-size: 0.875rem;
    transform: translatey(50%);
}
.scroll{
    transition: margin-left 0.5s ease;
}

#scroll-items img{
    width:500px;
    height:394px;
} 
.container6 #scroll-items .text-content{
    width:500px;
    height: 391px;
}
.container6 #scroll-items h2{
    width: 448px;
    font-size: 1.75rem;
    padding:67px 0 24px 0;
    margin: 0 auto;
}
.container6 #scroll-items p{
    width: 416px;
    font-size: 1.25rem;
    padding-bottom: 24px;
    margin: 0 auto;
}
.container6 #scroll-items{
    display: flex;
    text-align: center;
    gap: 50px;
    overflow:hidden;
    transition: margin-left 0.5s ease;
    

}
.container6 #scroll-items  .read{
    margin: 0 auto;
}
#slider{
    width: 80%;
    height:800px;
    float: right;
    /* transition: margin-left 0.5s ease; */
}
#slider label{
    cursor: pointer;
}

#slider input[type=radio]{
    display: none;
}

#slide1:checked ~ #scroll-items .scroll {
    margin-left: 0;
 }
 #slide2:checked ~ #scroll-items .scroll {
    margin-left: -50%; 
 }
 #slide3:checked ~ #scroll-items  .scroll {
    margin-left: -150%; 
 }
 #slide4:checked ~ #scroll-items  .scroll {
    margin-left: -200%; 
 }
 #slide5:checked ~ #scroll-items  .scroll {
     margin-left: -250%; 
 }
 
#controls {
    width: 100%;
    height: 20px;
    position: relative;
 }
#controls label{
    transition: opacity 0.2s ease-out;
    display: none;
    width: 50px;
    height: 50px;
    opacity: 1;
    position: relative;
    top: -1050px;
    padding:15px 20px ;
    border-radius: 100px;
 }
 #controls label:hover {
    opacity: 1;
 }
#slide1:checked ~ #controls label:nth-child(2),
#slide2:checked ~ #controls label:nth-child(3),
#slide3:checked ~ #controls label:nth-child(4),
#slide4:checked ~ #controls label:nth-child(5),
#slide5:checked ~ #controls label:nth-child(1) {
   background-image: url('/assets/assets/about-us/Union 5.png');
   background-size: 33px 22px;
   background-color: #C1F7D5;
   background-repeat: no-repeat;
   background-position: center;
   float: right;
   display: block;

}
#bullets {
    margin: 10px 0 0;
    text-align: center;
 }
 #bullets label {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius:100%;
    background: #ccc;
    margin: 0 10px;
 }
 #slide1:checked ~ #bullets label:nth-child(1),
 #slide2:checked ~ #bullets label:nth-child(2),
 #slide3:checked ~ #bullets label:nth-child(3),
 #slide4:checked ~ #bullets label:nth-child(4),
 #slide5:checked ~ #bullets label:nth-child(5) {
    background: #444;
 }
 /* section-6 */
.background6{
    background-color: #C1F7D5;
    height: 208px;
    
}
.container7{
    display: flex;
    justify-content:space-around;
    padding-left: 10%;

}
.container7 p{
    width: 80%;
    height: 70px;
    font-weight: bold;
    font-size: 150%;
    padding-top: 10%;
}
#container7-content{
    display: flex;
    padding-right: 10%;
    
}
.container7 .readmore{
    background-color: #354463;
    color: #C1F7D5;
    margin:70px 0 0 20px;
}
input[type='email']{
    border: none;
    width: 320px;
    height: 48px;
    border-radius: 100px;
    text-align:center ;
    margin-top: 69px;
}

/* footer */
footer{
    height: 371px;
}
.container8{
    padding:5% 0 0 0;
    display: flex;
    justify-content: space-around;
}
.container8 P, .container8 span{
    font-size: 0.875rem;
    width:126px;
    height:74px;
}
.follow ul li{
    list-style-type: none;
}
.flood{
    grid-column:2/3;
    width:181px;
    height: 136px;;
    font-size: 2.75rem;
    font-family: 'flood Std';
}
.gap{
    margin-bottom: 8%;
} 



@media screen and (max-width:650px) {
    header{
        height: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    header .logo{
        width:125px;
        height: 40px;
        font-size: 1.125rem;
    }
    .container1{
        display: flex;

    }
    .container1 nav{
        margin-left: 90px;
    }
    .container1 nav ul{
        display: flex;
        flex-direction: column;
    }
    .container1 nav ul li{
        list-style: none;
        padding:0 0 0 0;
        font-size: 0.875rem;
        margin-bottom: 10px;
    }
    .btn{
        width: 80%;
        height: 40px;
    }
    /* section-1 */
    .background1{
        background:url('/assets/assets/about-us/annie-spratt-427339-unsplash.png');
        height:650px ;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .container2{
        margin-top:0 ;
    }
    .font{
        font-size: 2.75rem;
    }
    .flood{
        width:181px;
        height:136px;
    }
    .background1 .container2 .text{
        width: 248px;
        height: 220px;
        font-size:1.375rem;
        padding:40px 32px 30px 32px;
        text-align: center;
    }
    /* section-2 */
    .background2{
        height: 1250px;
    }
    .container3{
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .background2 .container3 .container3-content img{
        width:38.46px;
        height:40px;
        margin-bottom: 10px;
    }
    .container3 .what{
        margin:32px 0 33px 0%;
        align-self: center;
    }
    .container3 #strive{
        width: 330px;
        font-size: 1.375rem;
        text-align: center;
    }
    .background2 .container3 .container3-content{
        margin:65px 0 0 0;
        grid-template-columns: repeat(2,1fr);
        column-gap: 15%;
        row-gap:5% ;
    }
    .background2 .container3 .container3-content h2{
        font-size: 1rem;
        margin-bottom: 10px;
    }
    .background2 .container3 .container3-content p{
        font-size: 0.875rem;
        width: 130px;
    
    }
    /* section-3 */
    .background3{
        height: 999px;  
    }
    .background3 .team{
        left:0;
        margin: 30px auto;
    }
    .background3 .statement{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin:0 0% 0 0%;
    }
    .background3 .statement #meet{
        width: 256px;
        font-size: 1.375rem;
        margin-bottom: 30px;
        font-weight: bold;
    }
    .background3 .statement p{
        width: 302px;
        font-size: 0.875rem;
        text-align: center;
        margin-bottom: 32px;
    }
    .container4{
        grid-template-columns:repeat(2,1fr) ;
        row-gap: 5%;
    }
    .container4 img{
        width: 144px;
        height: 144px;
        
    }
    .container4 .person{
        width: 144px;
        top: -20px;
        left:0px;
        
    }
    /* section-4 */
    .background4{
        height: 680px;
    }
    #impact{
        padding:32px 0 32px 0;
    }
    .impact-content{
        width: 160px;
        height: 29px;
        margin-bottom: 48px;
        padding-top:11px ;
    }
    #invest{
        font-size: 1.375rem;
        width: 330px;
        text-align: center;

    }
    .container5{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1em;
    }
    .container5 p{
        width:160px;
        margin-bottom: 20px;
    }
    /* section-5 */

    .background5{
        height: 936px;
    }
    .container6 .content-take{
        display: flex;
        justify-content: space-around;
    }
    .container6 .take{
        width:312px;
        padding: 54px 0 30px 0;  
    
    }
    #slider #scroll-items .year{
        width: 160px;
        padding: 11px 0px 11px 0px;
        font-size: 0.875rem;
        transform: translatey(50%);
    }
    
    #scroll-items img{
        width:312px;
        height:224px;
    } 
    .container6 #scroll-items .text-content{
        width:312px;
        height: 328px;
    }
    .container6 #scroll-items h2{
        width: 256px;
        font-size: 1.375rem;
        padding:36px 0 22px 0;
    }
    .container6 #scroll-items p{
        width: 247px;
        font-size: 1.25rem;
        padding-bottom: 4px;
        gap: 100px;
    }
    #slider{
        width: 90%;
        float: right;
        transition: none
    }
    
    #slider input[type=radio]{
        display: none;
    }
    
    #slide1:checked ~ #scroll-items .scroll {
        margin-left: 0;
    }
    #slide2:checked ~ #scroll-items .scroll {
        margin-left: -100%; 
    }
    #slide3:checked ~ #scroll-items  .scroll {
        margin-left: -200%; 
    }
    #slide4:checked ~ #scroll-items  .scroll {
        margin-left: -280%; 
    }
    #slide5:checked ~ #scroll-items  .scroll {
         margin-left: -380%; 
    }
    #controls label{
        transition: opacity 0.2s ease-out;
        display: none;
        width: 10px;
        height: 15px;
        opacity: 1;
        position: relative;
        top: -500px;
        padding:15px 20px ;
        border-radius: 100px;
     }

    #slide1:checked ~ #controls label:nth-child(2),
    #slide2:checked ~ #controls label:nth-child(3),
    #slide3:checked ~ #controls label:nth-child(4),
    #slide4:checked ~ #controls label:nth-child(5),
    #slide5:checked ~ #controls label:nth-child(1) {
        background-size: 24.7px 16.5px;
        float: right;
        display: block;

    }
     #bullets label {

        background:#FFFFFF;
    }
    /* section-6 */
    .background6{
        background-color: #C1F7D5;
        height: 216px;
        
    }
    .container7{
        display:flex;
        flex-direction: column;
        padding-top: 35px;
    }
    .container7 p{
        width: 322px;
        height: 78px;
        font-size: 1.375rem;
        text-align: center;
    }
    .container7 .readmore{
        width: 112px;
        height: 40px;
        font-size: 1rem;
        margin:30px 0 0 10px;
    }
    input[type='email']{
        border: none;
        width: 192px;
        height: 40px;
        margin-top: 30px;
    }
    
    /* footer */
    footer{
        height: 600px;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-items: center;
    }
    .container8{
        padding:5% 0 0% 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-items: center;
        row-gap: 20%;
    }
    .container8 P{
        font-size: 0.875rem;
        width:126px;
        height:74px;
    
    }
     .container8 span{
        font-size: 1rem;
        width:126px;
        height:74px;
    
    
    }
    hr{
        display: none;
    }
    .flood{
        width:181px;
        height: 136px;;
        font-size: 2.75rem;
        font-family: 'flood Std';
    }

}
@media screen and (min-width:651px) and (max-width:1024px) {
    .container1{
        display: flex;
        flex-direction: column;
    }
    .container1 nav{
        margin-left: 0px;
    }
    /* section-1 */
    .background1{
        height:600px ;
        flex-direction: column;
        background-position: cover;
        background-size: 100% 100%;
    }
    .flood{
        width:181px;
        height:136px;
    }
    .font{
        font-size: 2.75rem;
    }
    .background1 .container2 .text{
        width: 512px;
        height: 141px;
    }
    .background2{
        background-color: #354463;
        height: 1056px;
    }
    .container3{
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .background2 .container3 .container3-content img{
        width:53.85px;
        height:56px;
        margin-bottom: 10px;
    }
    .container3 .what{
        font-size: 0.875rem;
        width: 160px;
        height: 40px;
        text-align: center;
        margin:128px 0 20px 10%;
        align-self: start;
    }
    .container3 .what p{
        margin-top: 11px;
    
    }
    .container3 #strive{
        width: 80%;
        height: 165px;
        font-size: 2.75rem;
        color: white;
        font-weight: bold;
    }

    /* section-2 */
    .container3{
        box-sizing: border-box;
        display: flex;
        margin-left:5% ;
    }
    .container3 .what{
        font-size: 0.875rem;
        width: 160px;
        height: 40px;
        text-align: center;
        margin:64px 0 32px 10%;
        align-self: start;
    }
    .container3 #strive{
        width: 80%;
        height: 165px;
        font-size: 1.75rem;
        color: white;
        font-weight: bold;
    }
    .background2 .container3 .container3-content{
        margin:59px 0 0 0%;
        grid-template-columns: repeat(3,1fr);
    }
    .background2 .container3 .container3-content h2{
        font-size: 1.75rem;
        margin-bottom: 10px;
    }
    .background2 .container3 .container3-content img{
        width:38.46px;
        height:40px;
        margin-bottom: 10px;
    }
    /* section-3 */
    .background3{
        height: 1353px;  
    }
    .background3 .team{
        margin:60px 0 32px 0;
    }
    
    .background3 .statement #meet{
        width: 384px;
        font-size: 2.25rem;
        margin-bottom: 64px;
    }
    .background3 .statement p{
        width: 256px;
        font-size: 1rem;
    }
    .container4{
        grid-template-columns:repeat(2,1fr) ;

    }
    .container4 img{
        width: 272px;
        height: 272px;
        
    }
    /* section-4 */
    .background4{
        height: 694px;
    }
    #impact{
        padding:64px 0 34px 0;
    }
    .impact-content{
        width: 160px;
        height: 29px;
        margin-bottom: 48px;
        padding-top:11px ;
    }
    .impact-content p{
        text-align: center;
        font-size: 0.875rem;
        align-self: center;
    }
    #invest{
        font-size: 2.25rem;
        width:658px;
        text-align: center;
    }
    .container5{
        grid-template-columns: repeat(2,1fr);
        row-gap: 60%;
    }
    .container5 p{
        width:244px
    }
    /* section-5 */
    .background5{
        height: 900px;
    }
    .container6 .take{
        width:512px;
        padding: 60px 0 55px 0;  
    
    }
    #scroll-items img{
        width:288px;
        height:208px;
    }
    .container6 #scroll-items .text-content{
        width:288px;
        height: 368px;
    }
    .container6 #scroll-items h2{
        width: 224px;
        font-size: 1.375rem;
        padding:24px 0 16px 0;
    }
    .container6 #scroll-items p{
        width: 224px;
        font-size: 1rem;
        padding-bottom: 24px;
    }
    .container6 #scroll-items{
        overflow:hidden;
    }
    #slide1:checked ~ #scroll-items .scroll {
        margin-left: 0;
    }
     #slide2:checked ~ #scroll-items .scroll {
        margin-left: -40%; 
    }
     #slide3:checked ~ #scroll-items  .scroll {
        margin-left: -80%; 
    }
     #slide4:checked ~ #scroll-items  .scroll {
        margin-left: -120%; 
    }
     #slide5:checked ~ #scroll-items  .scroll {
         margin-left: -160%; 
    }
    #controls label{
        top: -750px;
    }
    /* section-6 */
    .background6{
        height: 255px;
        
    }
    .container7{
        display: flex;
        flex-direction: column;
        align-content: center;
        transform: translatex(50%);
    
    }
    .container7 p{
        width: 448px;
        height: 59px;
        padding-top: 50px;
    }
    #container7-content{
       padding-right: 0%;
        
    }
    .container7 .readmore{
        margin-top: 40px;
    }
    input[type='email']{
        margin-top:40px;
    }
    
     /* footer */
    footer{
        height: 600px;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-items: center;
    }
    .container8{
        padding:5% 0 0% 0;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
        justify-items: center;
        row-gap: 20%;
    }
    .container8 P{
        font-size: 0.875rem;
        width:126px;
        height:74px;

    }
    .container8 span{
        font-size: 1rem;
        width:126px;
        height:74px;


    }
    hr{
        display: none;
    }
    .flood{
        width:181px;
        height: 136px;;
        font-size: 2.75rem;
        font-family: 'flood Std';
        grid-column: 3;
        grid-row: 2
    }
    .container8 .follow{
        grid-column: 2;
        grid-row: 2;
    }
}

    


