*{
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-family: Helvetica;
}


/* header */
header{
    height:128px;
    width: 100%;
    box-sizing: border-box;
    margin-top: 2%;

    
}
.container1 #navbar a, .container9 a{
    text-decoration: none;
    color: #354463;
}
.container1 #navbar{
    display: grid;
    grid-template-columns:1fr 2fr 1fr;
    align-items: center;

}
.logo-name{
    font-weight: bold;
    font-size: 1.37rem;
    width: 160px;
    height: 63px;
}
.container1 #navbar .logo-name{
    padding:5% 0 0 45%;
    transform: translatey(-11%);
}
.container1 #navbar ul{
    display: flex;
    justify-content: flex-end;
}
.container1 #navbar ul li,.container9 ul li{
    list-style-type: none;
    font-size: 1rem;
    padding:0 6% 0 6%;
}
.container1 .donate{
    position: absolute;
    right: 5%;
    top:6%;
    text-decoration: none;   
}

.btn{
    width: 160px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    border: none;
    border-radius: 6.25rem;
    font-size: 1.125rem;
    color: #354463;
    background-color: #C1F7D5;
}
/* section-1 */

.background1{
    background-image: url(/assets/assets/home/annie-spratt-135307-unsplash.png);
    background-repeat: no-repeat;
    background-position:center;
    background-size: 100% 100%;
    height: 50rem;
    

}  
.container2{
    display: grid;
    grid-template-columns:1fr  1fr;
    align-items: center;
    justify-items: center;
}
.container2 .issue{
    margin: 10% 0 -2% -28%;
    z-index: 1;

}
.shade{
    align-content:center;
    text-align: center;
    width: 160px;
    height: 40px;
    font-size:0.875rem ;
    background-color: #354463;
    color: white;
}
.text{
    grid-column: 1;
    width: 90%;
    height: 26rem;
    font-size: 230%;
    display: grid;
    grid-template-columns: 4rem 1fr 4rem;
}
.text p{
    width: 90%;
    height: 50%;
    grid-column: 2/3;
    align-self: center;
}
.text a{
    font-size: 1rem;
    color: black;
    grid-column: 2/3;
    position: relative;
    top: 0px;
}
.white-back{
    background-color: white;
}

#flood{
    grid-column:2/3;
    width:18.5rem;
    height:14rem;
    font-size: 4.5rem;
    font-family: 'flood Std';
    color: white;
    margin:-50% 0 0 -40%;
}

/* section-2 */

.take-action{
    margin: auto;
    transform: translatey(-50%);
}

.background2{
    background-color: #C1F7D5;
    width: 100%;
    height: 240px;
}
.container3{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-items:center ;
    align-items: center;
    margin-left: 5%;
}
.container3  div{
    padding: 11%;
} 
.container3 div h3{
    font-size: 1.75rem;
} 
.container3 div p{
    margin-top:0.5rem ;
}

/* section-3 */
.background3{
    background-color: #354463;
    height: 1100px;
}
.what{
    font-size: 0.875rem;
    display: inline;
    padding:11px 11px 11px 11px; 
    position: relative; 
    top:8%;
    left:10% 

}
#mission{
    color: white;
    font-size: 2.75rem;
    font-weight: bold;
    width: 80%;
    height: 140px;
    margin:10% 0 1% 10%;
}
.container4{
    margin-left:10%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-top: 4%; 
    box-sizing: border-box;
}
.container4 img{
    width: 80%;
    height: 224px;
    position: relative;
    left: 2rem;
    top: -2rem;
}
.container4 div{
    width: 80%;
    height: 528px;
}
.read{
    margin:-5% 0 0 10%;    
}
.container4 div h4{
    font-size: 1.75rem;
    width: 80%;
    height: 4.375rem;
    margin: 0.1rem 0 0.2rem 2rem;
}
.container4 div p{
    width: 80%;
    height: 9rem;
    margin: 0.1rem 0 0 2rem;
}

/* section-4 */
.background4{
    background-image: url(/assets/assets/home/did-you-know-background@3x.png);
    background-repeat: no-repeat;
    background-position:center;
    background-size: 100% 100%;
    height: 79.93rem;
}
.container5-content{
    width:437px;
    height: 300px;
    font-size: 4.5rem;
    font-family: 'flood Std';
    margin-top: 15%;
    color: white;
}
.action{
    padding: 1%rem;
    margin: 15% 0 0 0;

}
.container5{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}
#side-content{
    margin-top: 8%;    
}
.you-know{
    display: inline-block;
    position: relative;
    top: 2%;
    left:8%;
}
.aside{
    padding:0 20px 0 20px;
    margin-bottom: 3%;
    width:90%;
    height: 232px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.aside h4{
    font-size: 2.75rem;
    margin-bottom: 1%;
}
.aside p{
    font-size: 1.25rem;
    width: 80%;
    margin-top: 1%;
}

#side-content .twitter,#side-content .facebook{
    border-radius: 50%;
    width:2rem;
    height:2rem;
    margin-bottom:10%;
}

/* section-5 */
.background5{
    height: 824px;
}
.container6{
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-content: flex-start;
    box-sizing: border-box;

}
.container6 .stories{
    margin-top: 10%;
    grid-column: 2;
    position: relative;
    top: 18%;
    left: 10%;

}
.container6 img{
    width: 70%;
    height: 70vh;
    grid-column:2;
    align-self: flex-start;
}
#paragraph{
    width: 95%;
    height: 344px;
    background-color: #354463;
    grid-column: 1;
    align-self: center;
    color: #FFFFFF;
    margin:0 0 0 30%;
    z-index: 1;

}
#paragraph p{
    font-size: 1.75rem; 
    width:80%;
    height: 196px;
    margin:10% 0 0 12%;

}
#paragraph #balki{
    font-size: 0.875rem;
    margin-top: 40px;

}
.container6 .read{
    grid-column: 1;
    justify-self: center;
}
/* section-6 */
.background6{
    background-color: #354463;
    height: 1726px;
}
.lets-take{
    font-size: 4.5rem;
    width: 847px;
    height: 148px;
    font-family: Flood Std;
    color: white;
    padding: 8% 0 74px 10%;
}
.container7{
    margin-left: 10%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 10%;
 
}
.container7 img{
    width:90%;
    height:65vh;
}
.event{
    font-size: 0.875rem;
    display: inline-block;
    padding:11px 40px 11px 40px;
    margin: 0 0 5% 0;
}
.latest{
    font-size: 0.875rem;
    display: inline-block;
    padding:11px 20px 11px 20px;
    margin: 10% 0 3% 0;

}
.container7  h3{
    width:80%px;
    height:165px;
    color: white;
    font-size: 2.75rem;
    margin-bottom: 10px;
}
.container7 #content2 h3{
    width:80%;
}
.container7  p{
    color:white;
    width: 80%;
    height: 158px;
    font-size: 1.25rem;
}

/* section-7 */
.background7{
    background-color: #C1F7D5;
    height: 208px;
    
}
.container8{
    display: flex;
    justify-content: center;
    padding-left: 10%;

}
.container8 p{
    width: 90%;
    height: 70px;
    font-weight: bold;
    font-size: 150%;
    padding-top: 50px;
}
#container8-content{
    display: flex;
    padding-right: 10%;
    
}
.container8 .more{
    background-color: #354463;
    color: #C1F7D5;
    margin-top: 70px;
}
input[type='email']{
    border: none;
    width: 320px;
    height: 48px;
    border-radius: 100px;
    text-align:center ;
    margin-top: 69px;
    

}

/* footer */
footer{
    height: 371px;
}
.container9{
    padding:5% 0 0 0;
    display: flex;
    justify-content: space-around;
}
.container9 P, .container9 span{
    font-size: 0.875rem;
    width:126px;
    height:74px;
}
.flood{
    grid-column:2/3;
    width:181px;
    height: 136px;;
    font-size: 2.75rem;
    font-family: 'flood Std';
}
.gap{
    margin-bottom: 8%;
}                                                                                       

@media screen and (min-width:360px) and (max-width:650px) {
    /* header */
header{
    height:200px;
}
.container1 #navbar a, .container9 a{
    text-decoration: none;
    color: #354463;
}
.container1 #navbar{
    display: grid;
    grid-template-columns:1fr 1fr;
    align-items: center;

}
.container1 #navbar .logo-name{
    padding:0 0 0 15%;
}
.logo-name{
    font-weight: bold;
    font-size: 1.125rem;
    width: 130px;
    height: 40px;
}
.container1 #navbar ul{
    display: block;
    justify-content:flex-start;
    margin: 33px 0 0 1%;
}
.container1 #navbar ul li{
    list-style-type: none;
    font-size: 1rem;
    padding:0 0 12px 0;
}
.container1 .donate{
    position: absolute;
    top:140px;
    left:2%;
    width: 95%;
    height: 40px;
}

.btn{
    width: 152px;
    height: 40px;
    font-weight: bold;
    border: none;
    border-radius: 100px;
    font-size: 1.125rem;
    color: #354463;
    background-color: #C1F7D5;
}
/* section-1 */
.background1{
    background-image: url(/assets/assets/home/annie-spratt-135307-unsplash.png);
    background-repeat: no-repeat;
    background-position:80%;
    background-size:cover;
    height: 592px;
    position: relative;
    
}
.container2{
    display: flex;
    flex-direction: column;
}
.container2 .issue{
    margin: 80px 0 0 -10%;
    z-index: 1;
    position: relative;
    top:165px;

}

.shade{
    align-content:center;
    text-align: center;
    width: 160px;
    height: 40px;
    font-size:0.875rem ;
    background-color: #354463;
    color: white;
}
.text{
    width: 312px;
    height: 240px;
    font-size: 1.375rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 150px;

}
.text p{
    width: 278px;
    height: 78px;
    margin: 0;
}
.text a{
    width: 248px;
    height: 42px;
    font-size: 0.875rem;
    color: black;
    top:33px;
    left: 0%;
}
.white-back{
    background-color: white;
}

#flood{
    width:181px;
    height:136px;
    font-size: 2.75rem;
    font-family: 'flood Std';
    color: white;
    position: absolute;
    top: 50px;
    margin:0 0 0 0;
    transform: translatex(-60%);
}

/* section-2 */
.background2{
    height: 328px;
}
.container3{
    grid-template-columns: repeat(2,1fr);
}

.container3 div h3{
    font-size: 1.125rem;
} 
.container3 div p{
    font-size: 0.875rem;
}
/* section-3 */
.background3{
    height: 1728px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.what{
    font-size: 0.875rem;
    display: block;
    width: 171px;
    height: 40; 
    text-align: center;
    top: -50px;
    left: 0;
}
#mission{
    font-size: 1.375rem;
    width: 320px;
    height: 134px;
    text-align: center;
    padding:10px 0 50px 0;
    margin: 0 0 0 0;
}
.container4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 0;
}
.container4 img{
    width: 248px;
    height: 176px;
    position: relative;
    left: 2rem;
    top: -2rem;
}
.container4 div{
    width: 312px;
    height: 415px;
    display: block;
    margin:0 0 60px 0;
}
.read{
    width:152px;
    height:40px;
    margin:-5% 0 0 10%;    
}
.container4 div h4{
    font-size: 1.125rem;
    width: 202px;
    height: 18px;
    margin: 0 0 5% 10%;
}
.container4 div p{
    width: 242px;
    height: 94px;
    margin: 0 0 10% 10%;
}
/* section-4 */

.background4{
    background-image: url(/assets/assets/home/did-you-know-background.png);
    background-size:cover;
    background-position:0.5%;
    height: 1008px;    
}
.container5-content{
    width:312px;
    height: 192px;
    font-size: 2.75rem;
    margin-top: 64px;

}
.container5{
    display: grid;
    grid-template-columns: 1fr;
}
#side-content{
    margin-top: 80px;    
}
.aside{
    margin-bottom: 16px;
    width:312px;
    height: 136px;
}
.aside h4{
    font-size: 1.375rem;
}
.aside p{
    font-size:0.875rem;
    width: 198px;
}

/* section-5 */
.background5{
    height: 840px;
}
.container6{
    display: flex;
    flex-direction:column;
    justify-items: center;
}
.container6 .stories{
    margin-top: 36px;
    align-self: center;
    position: relative;
    top: 0%;
    left: 0%;
    z-index: 1;

}
.readmore{
    margin: 32px auto;
    order:3;
}
.container6 img{
    width: 312px;
    height: 312px;
    display: block;
    margin: 0 auto;
}
#paragraph{
    width: 312px;
    height: 296px;
    margin:32px 0 0 0%;
    order: 1;

}
#paragraph p{
    font-size: 1.375rem; 
    width:248px;
    height: 203px;
    text-align: center;
    margin:0% 0 0 0%;


}
#paragraph #balki{
    font-size: 0.687rem;
    margin-top: 0%;

}

/* section-6 */

.background6{
    background-color: #354463;
    height: 1781px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.lets-take{
    font-size: 2.75rem;
    width: 312px;
    height: 186px;
    padding: 69px 0 53px 0;
    text-align: center;
}
.container7{
    margin-top:359px;
    margin-left: 0;
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    position: absolute;
 
}
.container7 img{
    width:312px;
    height:312px;
}
.event{
    font-size: 0.875rem;
    display: inline-block;
    padding:11px 40px 11px 40px;
    margin: 0% 0 0% 0;
    position: absolute;
    top: 3.7%;
    left:35%;
}
.latest{
    font-size: 0.875rem;
    display: inline-block;
    padding:11px 20px 11px 20px;
    position: absolute;
    top: 51%;
    left:29%;
    z-index: 1;

}
.container7  h3{
    width:313px;
    height:66px;
    font-size: 1.375rem;
    margin-bottom: 5%;
    margin-top: 135%;
}
.container7 #content2 h3{
    width:313px;
    height: 66px;

}
.container7  p{
    color:white;
    font-size: 0.875rem;
    width: 313px;
    height: 128px;

}
.container7 .image1{
    position: absolute;
    top:5%;
    left: 5%;
}
.container7 .image2{
    position: absolute;
    top:55%;
    left: 5%;
}
.more1{
    margin: 0 auto;
    align-self: center;
}

/* section-7 */
.background7{
    background-color: #C1F7D5;
    height: 216px;
    
}
.container8{
    position: relative;
    display:flex;
    flex-direction: column;
    align-items: center; 
    justify-items: center;


}
.container8 p{
    width: 322px;
    height: 78px;
    font-size: 1.375rem;
    text-align: center;
}
.container8 .more{
    width: 112px;
    height: 40px;
    font-size: 1rem;
    margin-top: 30px;
}
input[type='email']{
    border: none;
    width: 192px;
    height: 40px;
    margin-top: 30px;
}

/* footer */
footer{
    height: 600px;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
}
.container9{
    padding:5% 0 0% 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    row-gap: 20%;
}
.container9 P{
    font-size: 0.875rem;
    width:126px;
    height:74px;

}
 .container9 span{
    font-size: 1rem;
    width:126px;
    height:74px;


}
hr{
    display: none;
}
.flood{
    width:181px;
    height: 136px;;
    font-size: 2.75rem;
    font-family: 'flood Std';
}
}

@media screen and (min-width:650px) and (max-width:1024px) {
    header{
        height: 128px;

        
    }
    .container1 #navbar{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 10%;
    
    }
    .logo-name{
        font-size: 1.37rem;
        width: 160px;
        height: 63px;
    }
    .container1 #navbar .logo-name{
        padding:0% 0 0 0%;
        transform: translatey(0%);
    }
    .container1 #navbar ul{
        display: flex;
        align-content: center;
    }
    .container1 #navbar ul li,.container9 ul li{
        list-style-type: none;
        font-size: 1rem;
        padding:0 50px 0 0%;

    }
    .container1 .donate{
        position: absolute;
        right: 10%;
        top:3%
    }
    /* section-1 */

.background1{
    background-image: url(/assets/assets/home/annie-spratt-135307-unsplash@2x.png);
    background-position:80%;
    background-size:cover;
    height: 688px;
    
}
.container2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}
.container2 .issue{
    margin: 299px 0 -2% -28%;
    z-index: 1;

}

.text{
    grid-column: 1;
    width: 640px;
    height: 309px;
    font-size: 2rem;

}
.text p{
    width: 512px;
    height: 138px;
}
#flood{
    grid-column:2/3;
    width:18.5rem;
    height:14rem;
    font-size: 4.5rem;
    font-family: 'flood Std';
    color: white;
    margin:-200% 0 0 -40%;
}
/* section-2 */

.background2{
    height: 336px;
}
.container3{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-items:center ;
    align-items: center;
    margin-left: 5%;
}
.container3  div{
    padding: 10% 0 0 15%;
} 
/* section-3 */
.background3{
    background-color: #354463;
    height: 1384px;
}
.what{
    top:60px;
}
#mission{
    color: white;
    font-size: 2.75rem;
    font-weight: bold;
    width: 80%;
    height: 140px;
    margin:90px 0 1% 10%;
}
.container4{
    margin-left:10%;
    display: flex;
    flex-direction: column;
    grid-template-columns: repeat(3,1fr);
    margin-top: 150px; 
    box-sizing: border-box;
}
.container4 img{
    width: 288px;
    height: 201px;
}
.container4 div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 280px;
    margin-bottom: 50px;
    padding-left: 5px;
}
.container4 div h4{
    grid-column: 2;
    grid-row: 1;
    font-size: 1.75rem;
    width: 80%;
    margin: 0rem 0 0 3rem;
}
.container4 div p{
    grid-column: 2;
    grid-row: 1;
    width: 70%;
    height: 112px;
    margin:100px 0 0 3rem;
}
.read{
    grid-column: 1;
    grid-row: 2;
    margin:-20% 0 0 10%;    
}

/* section-4 */
.background4{
    background-image: url(/assets/assets/home/did-you-know-background@2x.png);
    background-repeat: no-repeat;
    background-position:1%;
    background-size:cover;
    height: 79.93rem;
}
.aside{
    margin-bottom: 30px;
    padding-left:20px;
}
.container5-content{
    width:193px;
    height: 228px;
    font-size: 2.75rem;
    margin:20% 0 0 0%;
}
#side-content{
    margin-right: 8%;    
}

#side-content .twitter,#side-content .facebook{
    margin-right: 25px;
    margin-bottom:5px;
}
/* section-5 */
.background5{
    height: 999px;
    position: relative;
}
.container6{
    display:flex;
    flex-direction: column;
}
.container6 img{
    width: 576px;
    height: 568px;
    margin-left: 10%;
}
#paragraph{
    width: 576px;
    height: 287px;
    margin:-5px 0 0 5%;
    order: 1;
}
#paragraph p{
    font-size: 1.375rem; 
    width:80%;
    height: 106px;
    text-align: center;
    align-content: center;

}
#paragraph #balki{
    margin-top: 0px;

}
.container6 .read{
    position: relative;
    top: 400px;

}
/* section-6 */
.background6{
    background-color: #354463;
    height: 1225px;
}
.lets-take{
    font-size: 2.75rem;
    width: 518px;
    height: 90px;
    padding: 8% 0 5% 10%;
}
.container7{
    row-gap: 10%;
    column-gap: -1%;
 
}
.container7 img{
    width:288px;
    height:288px;
}
.latest{
    margin: 0% 0 3% 0;

}
.container7  h3{
    width:216px;
    height:100px;
    font-size: 1.75rem;
}
.container7 #content2 h3{
    width:286px;

    
}
.container7  p{
    width: 292px;
    height: 164px;
}
.container7 .read{
    margin-top: 10px;
}
/* section-7 */
.background7{
    background-color: #C1F7D5;
    height: 255px;
    
}
.container8{
    display: flex;
    flex-direction: column;
    margin: 0 0 0 40%;
    transform: translatex(-50%);

}
.container8 p{
    width: 448px;
    height: 59px;
    font-weight: bold;
    font-size: 150%;
    padding-top: 50px;
}
#container8-content{
    display: flex;
   padding-right: 15%;
    
}
.container8 .more{
    margin-top: 40px;
}
input[type='email']{
    margin-top:40px;
}
/* footer */
footer{
    height: 600px;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
}
.container9{
    padding:5% 0 0% 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    row-gap: 20%;
}
.container9 P{
    font-size: 0.875rem;
    width:126px;
    height:74px;

}
 .container9 span{
    font-size: 1rem;
    width:126px;
    height:74px;


}
hr{
    display: none;
}
.flood{
    width:181px;
    height: 136px;;
    font-size: 2.75rem;
    font-family: 'flood Std';
    grid-column: 3;
    grid-row: 2
}
.container9 .follow{
    grid-column: 2;
    grid-row: 2;
}
}
